* {
  scrollbar-width: thin;
  scrollbar-color: rgb(5, 255, 5) rgb(0, 0, 0) ;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(5, 255, 5);

  border: 3px solid rgb(0, 0, 0);
}

html {
  background-color: black;
}

body {
  font-family: 'Jura', sans-serif;
  font-weight: regular;
  color: rgb(5, 255, 5);
}

header {
  transition: background-color 5.0s ease;
  background-color: rgb(16, 233, 16);
  height: 250px;

  }

  header:hover {
  background-color: rgb(0, 0, 0);

  }

h1 {
  transition: color 5.0s ease;
  text-align: center;
  font-weight: 500;
  font-size: 35px;
  color: black;
  cursor: default;
}
h1:hover {
  color: rgb(5, 255, 5);
}

.P1 {
  color: rgb(5, 255, 5);
  font-size: 20px;
  cursor: default;
}

.P2 { color: black;
  font-size: 20px;
}
.skull_img {
  width: 170px;
  height: 170px;
}
.skill_img {
  width: 100px;
  height: 100px;
}

.card-body{
  background-color: black;
}
.card-text {
  color: rgb(5, 255, 5);
}

a {
  color: rgb(5, 255, 5);

}
a:hover {
  color: rgb(38, 199, 38);
  text-decoration: none;
}


.divider {
    margin-top: 5px;
    border-top: 1px solid rgb(5, 255, 5);

}

hr {
  color: red;
  background-color: rgb(5, 255, 5);;
}

.place {
  background-color: rgb(0, 0, 0);
  height: 400px;
}

.link-color {
  color: #F60018;
}





